{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Government Subsidies</title>
	 <!-- Icons font CSS-->
     <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}".rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">!-->

	<!--<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">

<!--<link href="{% static 'css\font-awesome.min.css' %}" rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">-->
		<!--<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}" rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">!-->

	<!--<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">

<!--<link href="{% static 'css\font-awesome.min.css' %}" rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">-->
		<!--<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}".rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">

!-->

 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Tips</title>

    <!-- Icons font CSS-->
   <link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">

<!--<link href="{% static 'css\font-awesome.min.css' %}" rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">-->
		<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}".rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">




</head>
<body>
<section id="three" class="wrapper">
						
							<div class="inner">
								<h3>ENAM</h3>
								<p>National Agriculture Market (eNAM) is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified national market for agricultural commodities.

                                Small Farm,ers Agribusiness Consortium (SFAC) is the lead agency for implementing eNAM under the aegis of Ministry of Agriculture and Farmers' Welfare, Government of India.</p>
                                <h2>Vision</h2>

                                <p>To promote uniformity in agriculture marketing by streamlining of procedures across the integrated markets, removing information asymmetry between buyers and sellers and promoting real time price discovery based on actual demand and supply.</p>

                                 <h2>Mission</h2>

                                <p>Integration of APMCs across the country through a common online market platform to facilitate pan-India trade in agriculture commodities, providing better price discovery through transparent auction process based on quality of produce along with timely online payment.</p>
								<a href="https://enam.gov.in/web/"><button>Explore</button></a>
								
							</div>
						
						<br><br>
						
							<div  class="inner">
								<h3>National Mission For Sustainable Agriculture (NMSA)</h3>
								<p>National Mission for Sustainable Agriculture (NMSA) has been formulated for enhancing agricultural productivity especially in rainfed areas focusing on integrated farming, water use efficiency, soil health management and synergizing resource conservation.

                                NMSA will cater to key dimensions of 'Water use efficiency', 'Nutrient Management' and 'Livelihood diversification' through adoption of sustainable development pathway by progressively shifting to environmental friendly technologies, adoption of energy efficient equipments, conservation of natural resources, integrated farming, etc.

                                <h2>Schemes under NMSA</h2>

                                 <p>
                                 	<ol>Rainfed Area Development (RAD): RAD is being implemented by RFS Division
                                   Soil Health Management (SHM): SHM is being implemented by INM Division
                                  Sub Mission on Agro Forestry (SMAF): SMAF is being implemented by NRM Division
                                  Paramparagat Krishi Vikas Yojana (PKVY): PKVY is being implemented by INM Division
                                  Soil and Land Use Survey of India (SLUSI): Being implemented by RFS Division
                                  National Rainfed Area Authority (NRAA): Being implemented by RFS Division
                                  Mission Organic Value Chain Development in North Eastern Region (MOVCDNER): Being implemented by INM Division
                                  National Centre of Organic Farming (NCOF): Being implemented by INM Division
                                  Central Fertilizer Quality Control and Training Institute (CFQC&TI): implemented by INM Division</ol></p>
								<a href="https://nmsa.dac.gov.in/"><button>Explore</button></a>
								
							</div>
						
						<br><br>
					
							<div class="inner">
								<h3>Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</h3>
								<p>Har Khet ko Pani "Prime Minister Krishi Sinchayee Yojana"

                                   Government of India is committed to accord high priority to water conservation and its management. To this effect Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation 'Har Khet ko pani' and improving water use efficiency 'More crop per drop' in a focused manner with end to end solution on source creation, distribution, management, field application and extension activities.</p>
								<a href="https://pmksy.gov.in/"><button>Explore</button></a>
								
							
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<!-- <ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> -->
				</div>
				
			</footer>

		<!-- Scripts -->
		<div id="google_translate_element"></div>
<script> 
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>