{% load static %}
<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>

	<head>
		<title>CropRocket</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}".rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">
	</head>
	<body>
	

		<!-- Header -->
			<!--<nav class="navbar navbar-default">
<div class="contaniner">
	
<div class="navbar-header"> 
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                      
<ul class="nav navbar-nav">
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Sign up</a></li>	
<li><a href="file:///C:/Users/Sanchit/Desktop/tanu/SIH/login/index.html">Log in</a></li>
</ul>
</div>

</div>

</nav><--!>

<!--<nav class="nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CropRocket</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#"></a>About us</li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><button onclick="location.href='weather/';"/>Precautions</button></a></li>
		<li><a><button onclick="location.href='suggestions/';"/>Crop Information</button></a></li>
	</ul>
  </div>
</nav>-->
<div style="margin-left:0%">
								<a style="margin-rigth:0%;"><button onclick="location.href='weather/';"/>Precautions</button></a>
<a><button onclick="location.href='suggestions/';"/>Crop Information</button></a>
<a style="margin-rigth:0%;"><button onclick="location.href='gov/';"/>Government Subsidiaries </button></a>
</div>
		<div style="margin-right: 0px;">

		</div>










			<header id="header" style="margin-top:10%">
				<div class="logo"><a href="#">CROPROCKET<span></span></a></div>
			</header>

		<!-- Main -->

			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

					<div class="image-fit-flush">
							<img  src="{% static 'images\farm.jpg' %}" alt="" style="width: 1175px; height: 500px" />
						</div>
						<header class="special">
							<h2>CropRocket</h2>
							<p>All your farm needs serviced at rocket speed</p>
						</header>

						<div class="content">
							<h3>About us</h3>
							<p>CropRocket is a platform which aims at making the process of farming easy. Everyone, right from amateurs to professionals can benefit from this website. It will help in increasing yield and profit including financial suggestions. On providing region, sub-region and soil type, CropRocket will use these parameters to predict the most suitable crop. Farmers will receive information regarding various banks and loan policies.
                            CropRocket also aims on tackling a common issue faced by the farmers that is, pest attacks. Crops worth almost Rs.50,000 crore are lost every year owing to pest attacks and diseases. Hence, farmers will also get information regarding the most probable pest attacks and the required pesticides. Suggestions regarding fertilizers will also be provided.
                            CropRocket has acknowledged the powerful role that farmers play in everybody's lives and will only work to make their job easier.
						</div>
					</section>

				<!-- Two
					<section id="two" class="wrapper style2">
						<header>
							<h2>Vestibulum Convallis</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="images/pic03.jpg"><img src="images/pic03.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic01.jpg"><img src="images/pic01.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic04.jpg"><img src="images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic05.jpg"><img src="images/pic05.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				 Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="{% static 'images/farm2.jpg' %}" alt="" /></div>
							<div class="inner">
								<h3>Farmers</h3>
								<p>Sign up if you are new to CropRocket or login below. Fill up the enquiry form and let us handle your problems.The sole purpose of CropRocket is to provide the farmers with first hand solutions to their problems.</p>
								<a><button  onclick="location.href='signupfarmer/';">Sign up</button></a>
								<a><button onclick="location.href='login/';">Login</button></a>
							</div>
						</div>
						<br><br>
						<div class="spotlight">
							<div class="image flush"><img src="{% static 'images/dukkar.jpg' %}" alt="" /></div>
							<div  class="inner">
								<h3>Banks</h3>
								<p>Financial organizations can sign up or login to CropRocket to present the best financial oportunities to the farmers. Loans are a huge part of any business, be it a loan for buying a house, or a loan to purchase a car. Providing farmers with the best loan options will help them to get the best finacial assets and jump start their business.</p>
								<a><button onclick="location.href='{% url 'signupfinancial' %}'" > Sign up</button></a>
								<a><button onclick="location.href='login/';">Login</button></a>
								<a><button onclick="location.href='banks/';">Explore Loans</button></a>
							</div>
						</div>
						<br><br>
						<div class="spotlight">
							<div class="image flush"><img src="{% static 'images/nfc.jpg' %}" alt="" /></div>
							<div class="inner">
								<h3>Non-financial companies</h3>
								<p>Buyers, Government organization and Administration is included in non-financial companies. The non-financial companies can login or sing up here</p>
								<a><button onclick="location.href='{% url 'signupnonfinancial' %}'">Sign up</button></a>
								<a><button onclick="location.href='login/';">Login</button></a>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<!-- <ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> -->
				</div>
				
			</footer>

		<!-- Scripts -->
		<div id="google_translate_element"></div>
<script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</body>
</html>