{% load static %}
<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Precautions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">

<!--<link href="{% static 'css\font-awesome.min.css' %}" rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">-->
		<link rel="stylesheet" href="{% static 'css\Hmain.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css\main.css' %}">
<<link href="{% static 'css\font-awesome.min.css' %}".rel="stylesheet">
<link href="google-translate.css" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<!--<nav class="navbar navbar-default">
<div class="contaniner">
	
<div class="navbar-header"> 
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

</div>
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Sign up</a></li>	
<li><a href="file:///C:/Users/Sanchit/Desktop/tanu/SIH/login/index.html">Log in</a></li>
</ul>
</div>

</div>

</nav>-->

			<header id="header">
			</br>
				<div class="logo"><a href="#">PRECAUTIONS<span></span></a></div>
			</header>

		<!-- Main -->

			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">
						   <div class="content">
							<h3></h3>
							<p class="bankbio">When dealing with crops,water,ground and such paarmeters it becomes a necessity to know what to do if excess rainfall occurs or if a deficit in rainfall is seen as both is injurious for the harvest of farmers. Thus it is very important for farmers to know what to do when such situations occur. CropRocket helps the farmers with precautions to deal with such situations.</p>
				           <h2>If Rainfall is less than 2082m.m in Konkan Region, 644 m.m in Madhya Maharashtra Region, 526m.m in Marathwada Region, 731m.m in Vidarbha Region:</h2>
				           <p><ol>
									<li>In such situations, farmers sow the grain after first rainfall. The crop requires water and grows rapidly in the first few months and after that it does not require much rain for the next four months or so. In case of very low rainfall, farmers depend on water from wells or bore wells. Sprinkle and drip irrigation are some of the preferred methods of irrigation which make optimum use of water.<li>
								
									India is country of vast geography and varied climatic conditions. The agriculture depends on the water availability. In case of drought conditions, agriculture would be continued by the stored water from the Reservoirs/Dams through rivers, canals etc. Also farmers would adopt Crop rotation, Drought Resistant crops, plants which uses less water resources.</br>
									<li>

									Extra irrigation facilities would be required and more money would need to be spent on those facilities.
								</li>
								</ol></p>
                             </br>
                              <h2>If Rainfall is more than 3825m.m in Konkan Region, 1395m.m in Madhya Maharashtra Region,1011 m.m in Marathwada Region, 1520m.m in Vidarbha Region:</h2>
                              <p>
                              	<ol>
                              	<li>	If rain falls more than required then it ruins all the crops which the farmers have in hand , but it fills all the dams which makes water available for drinking and farming till next year.
                                    </li>
                                    <li>The farmers shoud slope the land in a way that the excess rain drains off and collect in pond and trenches in the farm. In spite of that excess rain is likely to make the root rot. To avoid this the farmers should use a Zozperillum , a natural fungus repellant.
                              	</li>
                              	</ol>

                              </p>
                          </br>
                         
                                  
                          <p>
                          	<ol>
                          		<li>
                                    

                          		</li>

                          	</ol>


                          </p>

						</div>
					</div>
					</section>
               

				<!-- Two 
					<section id="two" class="wrapper style2">
						<header>
							<h2>Vestibulum Convallis</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="images/pic03.jpg"><img src="images/pic03.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic01.jpg"><img src="images/pic01.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic04.jpg"><img src="images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic05.jpg"><img src="images/pic05.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>
-->
				<!-- Three -->
			
					<!--<div>                                 
                                  	<form name="myForm" method="POST" action="" style="margin-left: 500px; margin-right: 500px;">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="REGION" id="regid" name="region" >

                        </div>
                    
                </br>
                         <div class="input-group">
                        <input class="input--style-1" type="number" placeholder="RAINFALL" id="rainid" name="rain" >
                    </div>
</br>
                          <button type="submit" class="btn btn-primary">Submit</button>
                       
                                  </form>
						        <script type="text/javascript">
						        	var x = document.forms["myForm"]["regid"].value;
						        	var y = document.forms["myForm"]["rainid"].value;
						        	if((x>=2082)&&(y.equals("Konkan")))
						        	{
						        		 document.location.href = "weather2.html";
						        		alert("Rainfall is lesser than optimum amount");
                                          return false;
						        	}
						        	else if((x=<3825)&& (y.equals("Konkan")))
						        	{
						        		document.location.href = "suggestions.html";
						        	       alert("Rainfall is more than the optimum amount");
                                          return false;	

						        	}

						        </script>		
                          

					</div>
</section>
-->
				
			

		

			<div id="google_translate_element"></div>
<script> 
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</body>
</html>